<menu i-rootnav>
    {% comment %}
        choose proper SVG logo for given category
    {% endcomment %}
    {% if page.category == "kajaki"%}
        {% assign logoType = "kayak" %}
    {% elsif page.category == "zabytki" %}
        {% assign logoType = "antique" %}
    {% else %}
        {% assign logoType = "base" %}
    {% endif %}
    <a i-rootnav-item="logo" href="{{ site.baseurl }}/">
        <svg><use xlink:href="#symbol-pobp-logo-{{ logoType }}"></svg>
    </a>

    {% comment %}
        we display all three possible languages for zabytki
    {% endcomment %}
    <div i-rootnav-item="full">
        <a
            i-rootnav-itemlabel="{% if page.category == "zabytki" and page.language == "de" %}selected{% endif %}"
            href="{{ site.baseUrl }}/zabytki/de/"
        >
            {% include trans.liquid slug="monuments" language="de" %}
        </a>

        /

        <a
            i-rootnav-itemlabel="{% if page.category == "zabytki" and page.language == "en" %}selected{% endif %}"
            href="{{ site.baseUrl }}/zabytki/en/"
        >
            {% include trans.liquid slug="monuments" language="en" %}
        </a>

        /

        <a
            i-rootnav-itemlabel="{% if page.category == "zabytki" and page.language == "pl" %}selected{% endif %}"
            href="{{ site.baseUrl }}/zabytki/pl/"
        >
            {% include trans.liquid slug="monuments" language="pl" %}
        </a>
    </div>

    {% comment %}
        projekty and kajaki are polish-only
    {% endcomment %}
    <a
        i-rootnav-item="{% if page.category == "projekty" %}selected{% endif %}"
        href="{{ site.baseUrl }}/projekty/"
    >
        <span i-rootnav-itemlabel>Projekty</span>
    </a>

    <a
        i-rootnav-item="{% if page.category == "kajaki" %}selected{% endif %}"
        href="{{ site.baseUrl }}/kajaki/"
    >
        <span i-rootnav-itemlabel>Kajaki</span>
    </a>
</menu>
