{% comment %}
    choose proper SVG logo for given category
{% endcomment %}
{% if page.category == 'kajaki'%}
    {% assign logoType = 'kayak' %}
{% elsif page.category == 'zabytki' %}
    {% assign logoType = 'antique' %}
{% else %}
    {% assign logoType = 'base' %}
{% endif %}

<menu i-mainMenu>
    <a i-mainMenu-item="logo" href="{{ site.baseurl }}/">
        <svg><use xlink:href="#symbol-pobp-logo-{{ logoType }}"></svg>
    </a>

    <a i-mainMenu-item href="{{ site.baseUrl }}/kajaki/">
        <span i-mainMenu-itemLabel="{% if page.category == 'kajaki' %}selected{% endif %}">
            Kajaki
        </span>
    </a>

    <a i-mainMenu-item href="{{ site.baseUrl }}/projekty/">
        <span i-mainMenu-itemLabel="{% if page.category == 'projekty' %}selected{% endif %}">
            Projekty
        </span>
    </a>

    {% comment %}
        we display all three possible languages for zabytki
    {% endcomment %}
    <div i-mainMenu-item>
        <a
            href="{{ site.baseUrl }}/zabytki/de/"
            i-mainMenu-itemLabel="{% if page.category == 'zabytki' and page.language == 'de' %}selected{% endif %}"
        >
            {% include trans slug='monuments' language='de' %}
        </a>

        /

        <a
            href="{{ site.baseUrl }}/zabytki/en/"
            i-mainMenu-itemLabel="{% if page.category == 'zabytki' and page.language == 'en' %}selected{% endif %}"
        >
            {% include trans slug='monuments' language='en' %}
        </a>

        /

        <a
            href="{{ site.baseUrl }}/zabytki/pl/"
            i-mainMenu-itemLabel="{% if page.category == 'zabytki' and page.language == 'pl' %}selected{% endif %}"
        >
            {% include trans slug='monuments' language='pl' %}
        </a>
    </div>
</menu>
