{% include appSetup/templateStart.liquid %}

{% include modules/rootnav/rootnav.liquid %}

<section role="main" i-mainmenuclearfix>
    {% include modules/contentnav/contentnav.liquid %}

    <header i-pagetitle>
        <h1 i-pagetitle-name>{{ page.title }}</h1>

        <p i-pagetitle-description>{{ page.description }}</p>

        <time i-pagetitle-meta datetime="{{ page.date }}">
            {{ page.date | date: "%B %Y" }}
        </time>
    </header>

    <section i-projectContent>
        {{ content }}
    </section>

    {% include modules/relatedposts/relatedposts.liquid %}
</section>

{% include appSetup/templateEnd.liquid %}
