{% include appSetup/templateStart.liquid %}

{% include modules/mainMenu/mainMenu.liquid %}

<section role="main" i-mainMenuClearfix>
    {% include modules/contentMenu/contentMenu.liquid %}

    <header i-pagetitle>
        <h1 i-pagetitle-name>{{ page.title }}</h1>

        <p i-pagetitle-description>{{ page.description }}</p>

        <time i-pagetitle-meta datetime="{{ page.date }}">
            {{ page.date | date: "%B %Y" }}
        </time>
    </header>

    <section i-projectContent>
        {{ content }}
    </section>

    {% include modules/relateds.liquid older=page.previous newer=page.next %}
</section>

{% include appSetup/templateEnd.liquid %}
